#contato {
    padding-block: 2rem;
    background: url(../assets/smarthink_bg_blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    color: $color-light;

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        line-height: 1.1;

        &::after {
            content: '';
            display: block;
            height: 4px;
            background-color: $color-light;
            width: 150px;
            margin-top: .5rem;
        }
    }
}

.contato {
    display: flex;
    gap: 1.5rem;

    @include mobile {
        flex-direction: column;
    }

    &-col {
        flex: 1;
    }

    &-lista {
        padding-block: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
            display: flex;
            gap: .5rem;

            span {
                font-size: 1.25rem;
                font-weight: 700;
            }
        }
    }

    &-social {
        display: flex;
        align-items: center;
        gap: .75rem;
        font-size: 2.25rem;
    }
}

.form-contato {
    padding: 1.75rem 1.25rem;
    border-radius: 10px;
    background: $color-light;
    color: $color-dark;
    box-shadow: 0 0 1.5rem rgba($color-dark, .3);

    h3 {
        font-size: 1.75rem;
        line-height: 1;
        margin-bottom: 1rem;
    }

    a {
        color: $color-blue;
        font-weight: 500;
    }

    &-inputs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block: 1rem;
        
        li {
            display: flex;
            flex-direction: column;

            &.erro small {
                display: block;
                color: #ffa69e;
            }

            small {
                margin-top: .25rem;
                display: none;
            }

            &.erro :is(input, textarea) {
                border-color: #ffa69e;
            }

            ::placeholder {
                color: #bbb;
            }

            input, textarea {
                font-size: .9rem;
                font-family: "Montserrat", sans-serif;
                line-height: 1.4;
                border: 1px solid transparent;
                padding: .25rem .5rem;
                border-radius: 3px;

                &:focus {
                    outline: 4px solid rgba($color-blue, .2);
                }
            }
        }
    }
}